.detail-container {
  width: 100%;
  max-width: 37.5rem;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.detail-container .return-button {
  align-self: end;
}

.detail-container .card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.detail-container .image-container {
  border-bottom: 1px solid var(--color-gray-200);
  background: var(--color-gray-200);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  aspect-ratio: 600/400;
}

.detail-container .description-container {
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: column;
}

.detail-container .description-container h3 {
  margin: 0 0 0.5rem 0;

  font-size: var(--text-size-large);
  min-height: var(--text-line-height-normal);
  font-weight: var(--text-weight-medium);
}

.detail-container .description-container .icon {
  width: var(--text-size-large);
  height: var(--text-size-large);
}

.detail-container .description-container div {
  color: var(--color-gray-600);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  height: var(--text-line-height-normal);
}

.detail-container .divider {
  margin: 0 1rem;
  border-top: 1px solid var(--color-gray-200);
}

.detail-container .option-container {
  padding: 1rem;
}

.detail-container .button-container {
  display: flex;
  flex-direction: row-reverse;
  padding: 0.75rem 1rem;
  gap: 0.5rem;
}
