html {
  background-color: var(--color-gray-100);
  color: var(--color-gray-700);
}

body {
  margin: 0;
}

* {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  font-size: var(--text-size-normal);
  font-weight: var(--text-weight-normal);
  line-height: var(--text-line-height-normal);
}

a {
  color: inherit;
  text-decoration: inherit;
}

.skeleton {
  content: "######";
  color: transparent;
  background-color: var(--color-gray-200);
  border-radius: var(--border-radius-size);
  line-height: 1;
}

.card {
  padding: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  border-radius: var(--border-radius-size);
  overflow: hidden;
}
