:root {
  --color-white: #ffffff;
  --color-gray-50: #f8fafc;
  --color-gray-100: #f1f5f9;
  --color-gray-200: #e2e8f0;
  --color-gray-300: #cbd5e1;
  --color-gray-400: #94a3b8;
  --color-gray-500: #64748b;
  --color-gray-600: #475569;
  --color-gray-700: #334155;
  --color-gray-800: #1e293b;
  --color-gray-900: #0f172a;

  --color-accent-lighter: #67e8f9;
  --color-accent: #06b6d4;
  --color-accent-darker: #0e7490;

  --color-error-lighter: #fca5a5;
  --color-error: #ef4444;
  --color-error-darker: #b91c1c;

  --border-radius-size: 0.375rem;

  --text-size-small: 0.875rem;
  --text-size-normal: 1rem;
  --text-size-large: 1.125rem;

  --text-line-height-small: 1.25rem;
  --text-line-height-normal: 1.5rem;
  --text-line-height-large: 1.75rem;

  --text-weight-normal: 400;
  --text-weight-medium: 500;
  --text-weight-semibold: 600;
  --text-weight-bold: 700;
  --text-weight-extrabold: 800;
}
