button.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0.5rem 1rem;
  overflow: hidden;

  cursor: pointer;

  color: var(--color-white);
  text-transform: uppercase;
  border-radius: 1.5rem;
  font-weight: var(--text-weight-medium);
}

button.normal {
  border: 1px solid var(--color-accent-darker);
  background-color: var(--color-accent);
}

button.error {
  border: 1px solid var(--color-error-darker);
  background-color: var(--color-error);
}
