.filter-container {
  align-self: stretch;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.filter-container input {
  flex-grow: 1;
  min-width: 0;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
}

.filter-container input:focus {
  border: 1px solid var(--color-gray-400);
  outline: none;
}

.filter-container input::placeholder {
  color: var(--color-gray-400);
}

.questions-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.questions-container:not(:last-child) {
  margin-bottom: 1rem;
}

.questions-container.loading {
  pointer-events: none;
}
